/* Застосується до всіх посилань на сторінці.
 Специфічність: 0001 */

a {
	text-decoration: none;
}

/* Застосується до першої літери усіх абзаців на сторінці.
 Специфічність: 0001+0001=0002 */

p::first-letter {
	font-size: 36px;
}
= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = 
/* Застосується до всіх тегів з класом title
Специфічність: 0010 */
.title {
	font-weight: 500;
}
/* Застосується до всіх тегів з класом text 
Специфічність: 0010 */
.text {
	color: brown;
	font-size: 18px;
}
/* Застосується до тегу з класом link при наведенні 
на посилання курсору мишки. Специфічність: 0010+0010=0020*/
.link:hover {
	color: blue;
}
= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */ 




= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =
/* Селектор нащадка застосується тільки до усіх посилань, які лежать
 всередині тегу з класом social-links. Специфічність: 0010+0001=0011 */
.social-networks a {
	color: blue;
	text-decoration: none;
}
/* Cелектор дитини застосується тільки до посилань, які лежать безпосередньо
 всередині тегу з класом social-links (перша вкладеність). 
 Специфічність: 0010+0001=0011 */
.social-networks > a {
	color: tomato;
	text-decoration: none;
}
/* Cелектор сусіда застосується тільки до першого елемента <a>, який йде після
 елемента <ul> (поряд з ним на одному рівні). Специфічність: 0001+0001=0002 */
ul + a {
	color: green;
	text-decoration: none;
}
/* Споріднений селектор застосується до усіх елементів <a>, які йдуть після
елемента <ul> (просто на одному рівні з ним). Специфічність: 0001+0001=0002 */
ul ~ a {
	color: red;
	text-decoration: none;
}
